.curso {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}

.curso:last-of-type {
  border: none;
}

.footer {
  margin-top: 0;
}

.curso__label {
  font-family: var(--fuenteHeading);
  font-weight: bold;
}

.curso__info {
  font-weight: normal;
}

.curso__label,
.curso__info {
  font-size: 2rem;
}

@media (min-width: 769px) {
  .curso {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}