/* Contenido principal */

.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}

.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}

/* Sidebar */

.cursos {
  list-style: none;
}

.widget-curso {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}

.widget-curso:last-of-type {
  border: none;
  margin-bottom: 0;
}

.widget-curso__label {
  font-family: var(--fuenteHeading);
  font-weight: bold;
}

.widget-curso__info {
  font-weight: normal;
}

.widget-curso__label,
.widget-curso__info {
  font-size: 2rem;
}

@media (min-width: 769px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}