@media (min-width: 769px) {
  .sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  /* Ejemplo con display flex actual
  .sobre-nosotros {
    display: flex;
    gap: 2rem;
  }

  .sobre-nosotros__imagen,
  .sobre-nosotros__texto {
    flex-basis: 50%;
  } */

  /* Ejemplo con display flex que no soporte el gap
  .sobre-nosotros {
    display: flex;
    justify-content: space-between;
  }

  .sobre-nosotros__imagen,
  .sobre-nosotros__texto {
    flex-basis: calc(50% - 1rem);
  }
  */

  /* Ejemplo con display flex y versión antigua de calculo de crecimiento
  .sobre-nosotros {
    display: flex;
    justify-content: space-between;
  }

  .sobre-nosotros__imagen {
    flex: 0 0 calc(50% - 1rem);
  }

  .sobre-nosotros__texto {
    flex: 0 0 calc(50% - 1rem);
  }
  */

  .sobre-nosotros__texto p:first-of-type {
    margin-top: 0;
  }
}